<style>
    .footer {
        background-color: rgb(235, 222, 196);
        width: 100%;
        bottom: 0;
        left: 0;
        position: fixed;
        font-weight: bold;
        height: 3.5%;
        font-size: medium;
        text-align: center;
    }
</style>
<footer class="page-footer footer">
    <span class="text-muted">
        <a href="/jobs">Job Portal</a>
        2020 Nagp Assignment</span>
</footer>