<!DOCTYPE html>
<html lang="en">

<header>
    <% include ../shared/navigation %>
</header>

<body class="container">
    <span style="font-weight: bold; color: red;">Unauthorized User</span>
</body>

</html>