<!DOCTYPE html>
<html>

<header>
  <% include ././shared/navigation %>
</header>

<body style="background-color: rgb(190, 243, 243);" class="container">
  <br />
  <h1 style="text-align: center;color: orange;">Welcome to <%= title %></h1> <br />
  <p style="font-size: 1.5rem;"> This is a Job Search Portal where the employees can apply for the available opening
    positions in the company. Also, the project managers can add an opening for the project.</p>
</body>

</html>