<!DOCTYPE html>
<html lang="en">

<header>
    <% include ../shared/navigation %>
</header>

<body class="container">
    <div style="margin-left: 30%;">
        <h1 style="font-weight: bold; color: rgb(4, 80, 80);"> Sign In</h1>
        <form class="form" action="/auth/login" method="POST">
            <input type="hidden" name="_id" value="<%- user._id %>">
            <div class="form-group">
                <label> User Id<span style="color: red; font-size: 1.7rem;">*</span></label>
                <input style="width: 50%;" class="form-control" type="text" name="username" value="<%- user.username%>"
                    required><br />
            </div>
            <div class="form-group">
                <label>Password<span style="color: red; font-size: 1.7rem;">*</span></label>
                <input style="width: 50%;" class="form-control" type="password" name="password"
                    value="<%- user.password%>" required><br />
            </div>

            <input type="submit" value="Submit" class="btn btn-success" />
        </form>
        <% if (message) { %>
        <span style="font-weight: bold; color: red;"><%= message %></span>
        <% } %>
        <br />
        <div>
            <span style="font-weight: bold;"> New User ?</span>
            <a href="/auth/register" class="btn btn-primary">Register Here</a>
        </div>
    </div>
</body>

</html>